<!DOCTYPE html>
<html lang="en" ng-app="Sda">
<head>
    <title>SDA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body ng-controller="TabsCtrl">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isCurrent(1)}"><a ng-click="changeTab(1)">Users</a></li>
                <li ng-class="{active:isCurrent(2)}"><a ng-click="changeTab(2)">Add user</a></li>
                <li ng-class="{active:isCurrent(3)}"><a ng-click="changeTab(3)">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
    </div>
    <div ng-controller="usersCtrl">
        <div ng-show="isCurrent(1)">
            <input ng-model="search.username">
            <input type="checkbox" ng-model="all"> all
            <p ng-if="!users">Ladowanie Userow</p>
            <p ng-repeat="user in users | filter:search | limitTo:limit" ng-if="users">
            <span ng-if="all || $odd" ng-class="{'text-success':$odd, 'text-denger':$even}">
            <span ng-bind="user.username"></span>, phone <span ng-bind="user.phone"></span>
            <button class="btn btn-danger btn-sm" ng-click="remove($index)">Remove</button>
            </span>
            </p>
            <a ng-click="more()" ng-show="shouldShowMoreButton()">More</a>
        </div>

        <div ng-show="isCurrent(2)">
             <input ng-model="newName" placeholder="Type name"><br/>
             <input ng-model="newRole" placeholder="Type role">
            <button class="btn btn-success" ng-click="addUser()">Add user</button>
        </div>

        <div ng-show="isCurrent(3)">
            Contact
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script src="app.js"></script>
</html>
